[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/alanorth/hugo-theme-bootstrap4-blog
[submodule "themes/capsule"]
	path = themes/capsule
	url = https://github.com/sudorook/capsule
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain
